nav .nav-left-section img {
    margin-left: auto;
margin-right: auto;
    width: 80px;
    height: 80px;
} 
header nav .nav-right-section li {
    display: inline;
  }
#globito {
    border-radius: 20px;
height: 100px;
position: relative;
width: 200px;
margin-left: auto;
margin-right: auto;
margin-top: 50vh;
background-color: rgb(194, 206, 208);
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-color: white;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
 } 
 div {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 10vh;
        position: center;
        float: left;
        align-items: flex-start;
        display: flex;
        grid-template-columns: auto;
        column-gap: 5vh

 } 
